<ion-header>

</ion-header>

<ion-content>
        
<div id="particles-js"></div>
  <div class="main">
    <div class="row">
      <div class="button__holder">
        <button [ngClass]= "{ng: tmr }" class="plus" (click)="change()"></button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tmc }" class="plus" (click)="change4()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tmg }" class="plus" (click)="change8()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tmk }" class="plus" (click)="change12()">Play/Puase</button>
      </div>
    </div>
    <div class="row">
      <div class="button__holder">
        <button [ngClass]= "{ng: tmm }" class="plus" (click)="change1()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tmd }" class="plus" (click)="change5()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tmh }" class="plus" (click)="change9()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tml }" class="plus" (click)="change13()">Play/Puase</button>
      </div>
    </div>
    <div class="row">
      <div class="button__holder">
        <button [ngClass]= "{ng: tma }" class="plus" (click)="change2()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tme }" class="plus" (click)="change6()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tmi }" class="plus" (click)="change10()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tmo }" class="plus" (click)="change14()">Play/Puase</button>
      </div>
    </div>
    <div class="row">
      <div class="button__holder">
        <button [ngClass]= "{ng: tmb }" class="plus" (click)="change3()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tmf }" class="plus" (click)="change7()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tmj }" class="plus" (click)="change11()">Play/Puase</button>
      </div>
      <div class="button__holder">
        <button [ngClass]= "{ng: tmy }" class="plus" (click)="change15()">Play/Puase</button>
      </div>
    </div>
    <div class="deletor">
      <button class="button" (click)="deleteAll()" ><p>Pause all</p></button>
    </div>
  </div>
</ion-content>